.popular {
  padding: 117px 0px;
  background-color: #fff;
  .popular-title {
    text-align: center;
    color: #1a1a1a;
    font-weight: 500;
    padding-top: 24px;
    position: relative;
    &:before {
      content: "";

      position: absolute;

      top: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 55px;
      height: 4px;

      background: #ffb606;
    }
  }
  .popular-group {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: rgb(26, 26, 26);
    .card {
      height: 475px;
      width: 350px;
      background-color: #f8f9fb;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      img {
        width: 100%;
      }
      .title {
        text-align: center;
        h1 {
          font-size: 22px;
          font-weight: 500;
          color: #1a1a1a;
          &:hover{
            color: #a5a5a5;
          }
        }
        p{
            font-size: 14px;
            font-weight: 500;
            color: #a5a5a5;
        }
      }
      .foot {
        background-color: rgb(234, 235, 236);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 67px;
        img {
          height: 46px;
          width: 46px;
          border-radius: 50%;
        }
        .author {
          padding-left: 35px;
          justify-content: center;
          display: flex;
          align-items: center;
          gap: 20px;
          font-size: 14px;
          font-weight: 500;
          color: #1a1a1a;
          span {
            color: #a5a5a5;
          }
        }
        .price {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 67px;
          height: 67px;
          background: #ffb606;

          color: #ffffff;
          font-size: 18px;
          font-weight: 500;

          margin-left: auto;
        }
      }
    }
  }
}

@media screen and (max-width:1200px) {
    .popular {
        .popular-group {
          .card {
            height: 475px;
            width: 290px;
          }
        }
      }
}
@media screen and (max-width:990px) {
    .popular {
        .popular-group {
            flex-direction: column;
            gap: 50px;
          .card {
            height: 734px;
            width: 690px;
          }
        }
      }
}
@media screen and (max-width:770px) {
    .popular {
        .popular-group {
          .card {
            height: 600px;
            width: 510px;
          }
        }
      }
}
@media screen and (max-width:575px) {
    .popular {
        .popular-group {
          .card {
            height: 60vh;
            width: 90vw;
          }
        }
      }
}